#toll-results, #filter-options{
    margin-top: 3em;
}
#routes-summary-price{
    font-size: 1.5em;
}

.segment{
    margin: 1em;
}

.more-details{
    width: 100%;
}
#map {
    height: 400px;
    width: 100%;
}
.ui .segment{
    box-sizing: border-box;
}
#button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15% 0 15%;
    margin-bottom: 1vh;
}
#detailed-data{
    margin-top: 1vh;
}