#toll-results, #filter-options{
    margin-top: 3em;
}
#routes-summary-price{
    font-size: 1.5em;
}

.segment{
    margin: 1em;
}

.more-details{
    width: 100%;
}
#map {
    height: 400px;
    width: 100%;
}